<div id="footer">

<!-- /// FOOTER     ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="row-container">
        <div class="row">
            <div class="span5" id="footer-links">
                <div class="widget ewf_widget_social_media"> 
                
                    <div class="fixed">                                                                
                        
                        <a href="https://www.facebook.com/northwesternstudentholdings" target="Facebook" class="facebook-icon social-icon">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="https://www.linkedin.com/company/northwestern-student-holdings" target="LinkedIn" class="linkedin-icon social-icon">
                            <i class="fa fa-linkedin"></i>
                        </a>

                    </div>
                
                </div><!-- end .ewf_widget_social_media -->

            </div><!-- end .span6 -->  

            <div class="span2">
                <table>
                    <tr>
                        <td>
                            Sponsored by
                        </td>
                        <td>
                            <a href="http://www.manhattanprep.com/gmat/">
                                <img src="_content/NSH/gmat.png" style="margin-top: -14px; height:60px;">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="span5" id="footer-copyright">
                <p class="last">&copy; 2015 <strong><span class="text-highlight">Northwestern Student Holdings. All rights reserved.</p>
            </div><!-- end .span6 -->      
        </div><!-- end .row -->
    </div><!-- end .container -->       

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div><!-- end #footer -->

