<div id="footer">

<!-- /// FOOTER     ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="row-container">
        <div class="row">
            <div class="span6" id="footer-copyright">
                <p class="last">&copy; 2015 <strong><span class="text-highlight">Northwestern Student Holdings. All rights reserved.</p>
            </div><!-- end .span6 --> 
            <div class="span6" id="footer-links">
                <div class="widget ewf_widget_social_media"> 
                
                    <div class="fixed">                                                                
                        
                        <a href="#" class="facebook-icon social-icon">
                            <i class="fa fa-facebook"></i>
                        </a>
                        
                        <a href="#" class="twitter-icon social-icon">
                            <i class="fa fa-twitter"></i>
                        </a>
                        
                        <a href="#" class="googleplus-icon social-icon">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        
                        <a href="#" class="pinterest-icon social-icon">
                            <i class="fa fa-pinterest"></i>
                        </a>
                        
                        <a href="#" class="linkedin-icon social-icon">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        
                        <a href="#" class="youtube-icon social-icon">
                            <i class="fa fa-youtube"></i>
                        </a>
                        
                    </div>
                
                </div><!-- end .ewf_widget_social_media -->

            </div><!-- end .span6 -->       
        </div><!-- end .row -->
    </div><!-- end .container -->       

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div><!-- end #footer -->

