        <div id="header-wrap" style="background-image:url(_content/backgrounds/1920x355-1.jpg);">
        
        <!-- /// HEADER WRAP  //////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            <div class="header-wrap-content">
                
                <div id="header" class="stuck">

                    <div class="row-container">                    
                        
                        <div class="header-content">
                        
                            <div class="row">
                                <div class="span3">
                                
                                    <!-- // Logo // -->
                                    <div id="logo">
                                        <a href="/">
                                            <img src="_content/NSH/nsh_condensed_logo.png" id="white-logo" alt="website logo white">
                                            <img src="_content/NSH/nsh_condensed_logo.png" id="gray-logo" alt="website logo gray">
                                        </a>
                                    </div>
                                
                                </div><!-- end .span3 -->
                                <div class="span9">
                                
                                    <!-- // Mobile menu trigger // -->
                                    
                                    <a href="#" id="mobile-menu-trigger">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                    
                                    <!-- // Menu // -->
                                    
                                    <nav>
                            
                                        <ul class="sf-menu fixed" id="menu">
                                            <li>
                                                <a href="/">Home</a>
                                            </li>
                                            <li>
                                                <a href="about">About</a>
                                            </li> 
                                            <li>
                                                <a href="pf">Portfolio</a>
                                            </li>
                                            <li>
                                                <a href="team">Team</a>
                                            </li>
                                            <li>
                                                <a href="apply">Apply</a>         
                                            </li>
                                            <li>
                                                <a href="contact">Contact</a>         
                                            </li>
                                        </ul>
                                        
                                    </nav>
                
                                </div><!-- end .span9 -->
                            </div><!-- end .row -->
                            
                        </div><!-- end .header-content -->
                                                        
                    </div><!-- end .row-container -->

                </div><!-- end #header -->

                
            </div><!-- end .header-wrap-content --> 

            <div class="header-wrap-overlay"></div>
            
        <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        
        </div><!-- end #header-wrap -->