<div id="header-wrap">

<!-- /// HEADER WRAP  //////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="header-wrap-content">
        
        <div id="header" class="stuck">

            <div class="row-container">                    
                
                <div class="header-content">
                
                    <div class="row">
                        <div class="span12">
                        
                            <!-- // Logo // -->
                            <div id="logo">
                                <a href="/">
                                    <img src="_content/NSH/StudentHoldingsLogoStacked_White.png" id="white-logo" alt="website logo white">
                                   <img src="_content/NSH/StudentHoldingsLogoStacked.png" id="gray-logo" alt="website logo gray" style="display:none;">
                                </a>
                            </div>
                        
                            <!-- // Mobile menu trigger // -->
                            
                            <a href="#" id="mobile-menu-trigger">
                                <i class="fa fa-bars"></i>
                            </a>
                            
                            <!-- // Menu // -->
                            
                            <nav>
                    
                                <ul class="sf-menu fixed" id="menu">
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li>
                                        <a href="about">About</a>
                                    </li> 
                                    <li>
                                        <a href="pf">Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="team">Team</a>
                                    </li>
                                    <li>
                                        <a href="apply">Apply</a>         
                                    </li>
                                    <li>
                                        <a href="support">Donate</a>         
                                    </li>
                                    <li>
                                        <a href="contact">Contact</a>         
                                    </li>
                                </ul>
                                
                            </nav>
        
                        </div><!-- end .span9 -->
                    </div><!-- end .row -->
                    
                </div><!-- end .header-content -->
                                                
            </div><!-- end .row-container -->

        </div><!-- end #header -->

        
    </div><!-- end .header-wrap-content -->
    
    <div class="header-wrap-overlay"></div>
    
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div><!-- end #header-wrap -->