<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
    
    

    <title> About :: NSH </title>

    <meta name="description" content=" add description  ... ">
    
    <!-- /// Favicons ////////  -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <!-- /// Google Fonts ////////  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,300,500,600">
    
    <!-- /// FontAwesome Icons 4.2.0 ////////  -->
    <link rel="stylesheet" href="_layout/css/fontawesome/font-awesome.min.css">
    
    <!-- /// Custom Icon Font ////////  -->
    <link rel="stylesheet" href="_layout/css/iconfontcustom/icon-font-custom.css">  
    
    <!-- /// Template CSS ////////  -->
    <link rel="stylesheet" href="_layout/css/base.css">
    <link rel="stylesheet" href="_layout/css/grid.css">
    <link rel="stylesheet" href="_layout/css/layout.css">
    <link rel="stylesheet" href="_layout/css/elements.css">
    
    <!-- /// JS Plugins CSS ////////  -->
    <link rel="stylesheet" href="_layout/js/animations/animate.min.css">

    <link rel="stylesheet" href="custom/navbar.css">
    <link rel="stylesheet" href="custom/splash.css">
    
    <link rel="stylesheet" type="text/css" href="_layout/ElasticStack/css/component.css" />

    <style type="text/css">
        .splash-container {
        background-position: top center;
    }
    body {
      background:#0b1d2a;
    }
        .headline-2 {
            margin-top:5em;
        }
        .value h2 {
            color: #CE4115;
            margin-left: 24px;
        }
        .bullet {
            position: relative;
        }
        .bullet img{
            position:absolute;
            top: 14px;
            height: 16px;
        }
        .value {
            margin-bottom: 0px;
        }
        #whatweare .span8 {
            margin-top: 80px;
            padding: 40px;
            background-image: url('_content/NSH/whoweare.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-color: #CE4115;
            color: white;
            text-align: center;
            vertical-align: middle;
        }
        #whatweare .headline-2 {
            margin: 0 0 60px;
        }
        #whatweare .headline-2:after {
            border-bottom: 1px solid #fff
        }
        .elasticstack p {
            font-style: italic;
            font-size: 15px;
            line-height: 20px;
            margin-top:10px;
        }
        @media (min-width: 768px) and (max-width: 1200px) {
        
            #mission { width:50%; }

            #filler-left { width: 8.3333333%;}
        
        }
        .vco-timeline .vco-navigation .timenav-background .timenav-line {
            background-color: #CE4115;
        }
        .portfolio-item .portfolio-item-description .btn:hover {
            border-color: #fff;
            color: #fff;
        }
    </style>

    <!-- /// jQuery ////////  -->
    <script src="_layout/js/jquery-2.1.1.min.js"></script>
    
    <!-- /// Custom JS ////////  -->
    <script src="_layout/js/plugins.js"></script>   
    <script src="_layout/js/scripts.js"></script>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.0.3/wow.min.js"></script>

    <script src="_layout/ElasticStack/js/modernizr.custom.js"></script>
    <script src="_layout/ElasticStack/js/draggabilly.pkgd.min.js"></script>
    <script src="_layout/ElasticStack/js/elastiStack.js"></script>

    <script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/timeline-min.js"></script>

    <script type="text/javascript" src="_layout/js/splash.js"></script>
    
</head>
<body class="sticky-header page-header">
    
    
    
    <noscript>
        <div class="javascript-required">
            <i class="fa fa-times-circle"></i> You seem to have Javascript disabled. This website needs javascript in order to function properly!
        </div>
    </noscript>
    
    <div id="wrap">
        
{{> header_homepage}}
        <div id="content">

            <div class="splash-container" style="background-image: url(_content/NSH/about.jpg)">
                <div class="splash">
                    <h1><strong>About</strong></h1>
                    <h3 style="font-style: none; max-width:550px; margin: 0 auto;">"NSH is a launch pad for opportunity, a training ground for ideas, and a chance to make your vision a reality."
                    </h3>
                    <br>
                    <h3>-Liz Huizenga, Director</h3>
                </div><!-- end .row -->
                <a href="#whatweare" class="smoothScroll">
                <svg class="arrows">
                    <path class="a1" d="M0 0 L15 16 L30 0"></path>
                </svg>
                </a>
            </div><!-- end .row-container --> 
        
        <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <div class="section" id="whatweare">

        <!-- WHO WE ARE ///////////////////////////////////////////////////////////////-->    
        <div class="span2"></div>                             
            
            <div class="span8 wow fadeIn" data-wow-delay="0.25s">
                <div class="headline-2">
                            
                <h1>What We Are</h1>
                            
                </div><!-- end .headline -->
                <h3>Northwestern Student Holdings (<span style="font-weight:900;">NSH</span>) is a student-run holdings company that funds and manages a portfolio of businesses serving the Northwestern, Evanston, and Chicago communities. NSH offers a myriad of services ranging from summer storage, to design and advertising, to tutoring. Founded in 2007, NSH serves over 8000 customers annually and earned over $400,000 last year.</h3>
                <br>
                    <h3>We value practice over preaching. We know that to grow, it’s essential to leave one’s comfort zone. With the support of one another, we grow our <span style="font-weight:900;">businesses</span>, our <span style="font-weight:900;">people</span>, and our <span style="font-weight:900;">impact</span> on the community.</h3> 
            </div><!-- end .row-container -->
            
            <div class="span2"></div>
        </div> <!-- end .section -->

        <div class="section" id="values">
            <div class="row-container wow fadeIn" data-wow-delay="0.25s">    
                <div class="row">
                    <div class="span12">
                        
                        <div class="headline-2">
                            
                            <h1>Our Mission</h1>
                            
                        </div><!-- end .headline -->
                        
                    </div><!-- end .span12 -->
                </div><!-- end .row -->
            </div>  <!-- end .row-content -->                                                         
            
             <div class="row-container">    
                <div class="row">
                        <div class="span2" id="filler-left"></div>
                        <div class="span4" id="mission">
                        
                            <div class="value">
                                <div class="bullet wow fadeIn" data-wow-delay="0.25s">
                                    <img src="_content/NSH/NSH-logo-orange.jpg">
                                    <h2 class="text-uppercase"><strong>Build Businesses</strong></h2>
                                </div>
                                <p class="wow fadeIn" data-wow-delay="0.25s">
                                    Our unique access to and knowledge of students give us a special opportunity to build businesses that add value to Northwestern, Evanston, and Chicago communities. 
                                </p>
                            </div>
                            
                            <div class="value">
                                <div class="bullet wow fadeIn" data-wow-delay="0.25s">
                                    <img src="_content/NSH/NSH-logo-orange.jpg">
                                    <h2 class="text-uppercase"><strong>Develop People</strong></h2>
                                </div>
                                <p class="wow fadeIn" data-wow-delay="0.25s">
                                     NSH offers members high-impact roles as soon as they enter the organization, imparts to them business acumen through workshops, and introduces them to a strong community of peers and mentors.
                                </p>
                            </div>
                            
                            <div class="value">    
                                <div class="bullet wow fadeIn" data-wow-delay="0.25s">
                                    <img src="_content/NSH/NSH-logo-orange.jpg">
                                    <h2 class="text-uppercase"><strong>Give Back</strong></h2>
                                </div>
                                <p class="wow fadeIn" data-wow-delay="0.25s">
                                    We do whatever we can to support philanthropic causes that better local and global communities, because we gain tremendously from the opportunities they afford us.
                                </p>
                            </div>

                        </div><!-- end .span7 -->
                        <div class="span4">
                            <ul class='elasticstack wow fadeIn' id='elasticstack' data-wow-delay="0.5s">                          
                            <li>
                                <img id="drag" src="_content/NSH/click-swipe.png" style="position:absolute; top:-30px;height:21px;">
                                <img class='elasti' src="_content/NSH/elastic-image-2.jpg"  alt="03"/>

                               <p>
                                     "NSH means empowerment; it's this ridiculously amazing feeling of being 20 years old and having the power to transform this community." 
                                </p>     
                                
                            </li>
                                
                            <li>
                                
                                <img class='elasti' src="_content/NSH/elastic-image-1.jpg"  alt="02"/>

                               <p>
                                         
                                     "Every day, I’m blown away by the experiences I’ve had and the people I’ve shared them with."    
                                </p>            
                            </li>

                            <li>
                                <img class='elasti' src="_content/NSH/discussion.jpg"  alt="01"/>                            
                                <p>
                                    "NSH is a launch pad for opportunity, a training ground for ideas, and a chance to make your vision a reality."        
                                </p> 


                            </li>

                        </ul>
                        </div>
                        <div class="span2"></div>
                    </div>
                </div><!-- end .row -->

            </div>  <!-- end .row-content -->
        </div> <!-- end .section -->
        

         <!-- END OVERVIEW //////-->

        <div class="section">
        <!-- OUR HISTORY ///////////////////////////////////////////////////////////////-->
            <div class="row-container wow fadeIn" data-wow-delay="0.25s">
                <div class="row">
                    <div class="span12">
                        
                        <div class="headline-2">
                            
                            <h1>Our History</h1>
                            
                        </div><!-- end .headline -->
                        
                    </div><!-- end. span12 -->
                </div><!-- end .row -->
            </div><!-- end .row-container -->                                                
            
            <div class="row-container wow fadeIn" data-wow-delay="0.25s">
                <div id="timeline-embed"></div>
                <script type="text/javascript">
                    var timeline_config = {
                        width:              '100%',
                        height:             '500',
                        source:             'https://docs.google.com/spreadsheet/ccc?key=0Av01NMEpZZJkdFpPb2V6OEpJSi1yVjBiRzZhZWhpTmc',
                        embed_id:           'timeline-embed',               //OPTIONAL USE A DIFFERENT DIV ID FOR EMBED
                        start_at_end:       false,                          //OPTIONAL START AT LATEST DATE
                        start_at_slide:     '0',                            //OPTIONAL START AT SPECIFIC SLIDE
                        start_zoom_adjust:  '3',                            //OPTIONAL TWEAK THE DEFAULT ZOOM LEVEL
                        hash_bookmark:      true,                           //OPTIONAL LOCATION BAR HASHES
                        font:               'PTSerif-PTSans',             //OPTIONAL FONT
                        debug:              true,                           //OPTIONAL DEBUG TO CONSOLE
                        lang:               'en',                           //OPTIONAL LANGUAGE
                        maptype:            'watercolor',                   //OPTIONAL MAP STYLE
                    }
                </script>
                <script type="text/javascript" src="_layout/TimelineJS/js/storyjs-embed.js"></script>
            </div><!-- end .row-container -->
        </div> <!-- end .section -->

        <div class="section">
        <!-- OUR HISTORY ///////////////////////////////////////////////////////////////-->
            <div class="row-container wow fadeIn" data-wow-delay="0.25s">
                <div class="row">
                    <div class="span12">
                        
                        <div class="headline-2">
                            
                            <h1>Our Connections</h1>
                            
                        </div><!-- end .headline -->
                        
                    </div><!-- end. span12 -->
                </div><!-- end .row -->
            </div><!-- end .row-container -->      

        <div class="portfolio-grid fixed">
            <div class="item width-2 wow fadeIn" data-wow-delay="0.25s">
                <div class="portfolio-item">
                    <div class="portfolio-item-preview" style="background-image: url(_content/NSH/impact-week.jpg)">
                        <div class="portfolio-item-overlay">
                            <div class="portfolio-item-description">
                                <h2>NSH Impact Week</h2>
                                <p></p>
                                <a href="http://www.nshimpact.com/" target="Impact Week" class="btn">Visit Impact Week</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item width-2 wow fadeIn" data-wow-delay="0.25s">
                <div class="portfolio-item">
                    <div class="portfolio-item-preview" style="background-image: url(_content/NSH/portfolio-original.jpg)">
                        <div class="portfolio-item-overlay">
                            <div class="portfolio-item-description">
                                <h2>Portfolio Companies</h2>
                                <p></p>
                                <a href="pf" class="btn">See our portfolio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item width-1 wow fadeIn" data-wow-delay="0.25s">
                <div class="portfolio-item">
                    <div class="portfolio-item-preview" style="background-image: url(_content/NSH/farley.jpg)">
                        <div class="portfolio-item-overlay">
                            <div class="portfolio-item-description">
                                <h2>The Farley Center</h2>
                                <p></p>
                                <a href="http://fcei.northwestern.edu/" target="Farley" class="btn">Visit the Farley Center</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item width-1 wow fadeIn" data-wow-delay="0.25s">
                <div class="portfolio-item">
                    <div class="portfolio-item-preview" style="background-image: url(_content/NSH/nu-arch.jpg)">
                        <div class="portfolio-item-overlay">
                            <div class="portfolio-item-description">
                                <h2>Northwestern University</h2>
                                <p></p>
                                <a href="http://www.northwestern.edu/" target="NU" class="btn">Visit NU</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item width-2 wow fadeIn" data-wow-delay="0.25s">
                <div class="portfolio-item">
                    <div class="portfolio-item-preview" style="background-image: url(_content/NSH/team-splash.jpg)">
                        <div class="portfolio-item-overlay">
                            <div class="portfolio-item-description">
                                <h2>Our Team</h2>
                                <p></p>
                                <a href="team" class="btn">Meet the team</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        </div><!-- end #content -->     
        {{> footer}}

        
    </div><!-- end #wrap -->
    
    <a id="back-to-top" href="#">
        <i class="ifc-up4"></i>
    </a>

    <script>
    $(function(){
    new WOW().init();

    // elasticstack
    new ElastiStack( document.getElementById( 'elasticstack' ),{
                // distDragBack: if the user stops dragging the image in a area that does not exceed [distDragBack]px 
                // for either x or y then the image goes back to the stack 
                distDragBack : 100,
                // distDragMax: if the user drags the image in a area that exceeds [distDragMax]px 
                // for either x or y then the image moves away from the stack 
                distDragMax : 200,
                // callback
                onUpdateStack : function( current ) { return false; }
            }  );

    $('.elasticstack').mousedown(function(){
        $('#drag').animate({'opacity': 0}, 800);
    })
});
    </script>

</body>
</html>
