<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
    
    

    <title> About us :: NSH </title>

    <meta name="description" content=" add description  ... ">
    
    <!-- /// Favicons ////////  -->
    <link rel="shortcut icon" href="favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <meta name="msapplication-TileColor" content="#8ec63f">
    <meta name="msapplication-TileImage" content="mstile.png">
    <meta name="theme-color" content="#8ec63f">
    
    
    <!-- /// Google Fonts ////////  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,300,500,600">
    
    <!-- /// FontAwesome Icons 4.2.0 ////////  -->
    <link rel="stylesheet" href="_layout/css/fontawesome/font-awesome.min.css">
    
    <!-- /// Custom Icon Font ////////  -->
    <link rel="stylesheet" href="_layout/css/iconfontcustom/icon-font-custom.css">  
    
    <!-- /// Template CSS ////////  -->
    <link rel="stylesheet" href="_layout/css/base.css">
    <link rel="stylesheet" href="_layout/css/grid.css">
    <link rel="stylesheet" href="_layout/css/layout.css">
    <link rel="stylesheet" href="_layout/css/elements.css">
    
    <!-- /// JS Plugins CSS ////////  -->
    <link rel="stylesheet" href="_layout/js/revolutionslider/css/settings.css">
    <link rel="stylesheet" href="_layout/js/revolutionslider/css/custom.css">
    <link rel="stylesheet" href="_layout/js/bxslider/jquery.bxslider.css">
    <link rel="stylesheet" href="_layout/js/magnificpopup/magnific-popup.css">
    <link rel="stylesheet" href="_layout/js/animations/animate.min.css">
    <link rel="stylesheet" href="_layout/js/itplayer/css/YTPlayer.css">
    
    <!-- /// Template Skin CSS ////////  -->
    <!-- <link rel="stylesheet" href="_layout/css/skins/default.css"> -->
    <!-- <link rel="stylesheet" href="_layout/css/skins/blue.css"> -->
    <!-- <link rel="stylesheet" href="_layout/css/skins/orange.css"> -->

    <link rel="stylesheet" href="custom/navbar.css">
    <link rel="stylesheet" href="custom/splash.css">
    
    <link rel="stylesheet" type="text/css" href="_layout/ElasticStack/css/component.css" />

    <style type="text/css">
        #overview h3 {
            color: #CE4115;
        }
        .elasticstack p {
            font-style: italic;
            font-size: 14px;
            line-height: 20px;
            margin-top:10px;
        }
        h2 {
            margin-top: 2.5em;
        }
        
        .vco-timeline .vco-navigation .timenav-background .timenav-line {
            background-color: #CE4115;
        }
    </style>
    
</head>
<body class="sticky-header page-header">
    
    
    
    <noscript>
        <div class="javascript-required">
            <i class="fa fa-times-circle"></i> You seem to have Javascript disabled. This website needs javascript in order to function properly!
        </div>
    </noscript>
        
    <!--[if lte IE 8]>
         <div class="modern-browser-required">
            You are using an <strong>outdated</strong> browser. Please 
            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">upgrade your browser</a> 
            to improve your experience.
        </div>
    <![endif]-->

    <div id="wrap">
        
{{> header_homepage}}
        <div id="content">

            <div class="splash-container" style="background-image: url(_content/NSH/Optimized-team-splash-smaller.png)">
                <div class="splash">
                    <h1><strong>About</strong></h1>
                    <h3 style="font-style: none; max-width:600px; margin: 0 auto;">"The immense privilege of NSH is the opportunity to be 
surrounded by so many driven, talented, and intelligent
people."
</h3>
<br>
<h3>-Bomani McClendon, VP of Technology</h3>
                </div><!-- end .row -->
            </div><!-- end .row-container --> 
        
        <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <div class="section" id="overview">
            <div class="row-container">    
                <div class="row">
                    <div class="span12">
                        
                        <div class="headline-2">
                            
                            <h2>Overview</h2>
                            
                        </div><!-- end .headline -->
                        
                    </div><!-- end .span12 -->
                </div><!-- end .row -->
            </div>  <!-- end .row-content -->                                                         
            
             <div class="row-container">    
                <div class="row">
                        <div class="span1"></div>
                        <div class="span6">
                            
                            <h3 class="text-uppercase wow fadeIn" data-wow-delay="0.25s"><strong>Building Businesses</strong></h3>
                            <p class="wow fadeIn" data-wow-delay="0.25s">NSH aims to create and maintain a strong portfolio of businesses that add value to the Northwestern, Evanston, and Chicago communities. Our unique access to and knowledge of students gives us an opportunity to touch this community in special ways.</p>
                            
                            
                            <h3 class="text-uppercase wow fadeIn" data-wow-delay="0.25s"><strong>Developing People</strong></h3>
                            <p class="wow fadeIn" data-wow-delay="0.25s">
                                 Our approach to developing people is centered around offering members high-impact roles on teams as soon as they enter the organization, imparting them with a core set of business skills through workshops, and introducing them to a strong community of peers and mentors to grow with.
                            </p>
                            
                            <h3 class="text-uppercase wow fadeIn" data-wow-delay="0.25s"><strong>Giving Back</strong></h3>
                            <p class="wow fadeIn" data-wow-delay="0.25s">We support philanthropic causes that better local as well as global communities. Our organization and its members have gained tremendously from opportunities afforded to us, and we do whatever we can to give back to those communities.</p>
                            
                        </div><!-- end .span7 -->
                        <div class="span4">
                            <ul class='elasticstack wow fadeIn' id='elasticstack' data-wow-delay="0.5s">                            
                            <li>
                            
                                <img src="_content/NSH/elastic-image-1.jpg"  alt="01"/>                            

                                 <p>
                                    "NSH means empowerment; it's this ridiculously amazing feeling of being 20 years old and having the power to transform this community through business and social impact."
                                </p>


                            </li>
                                 
                                
                                
                            <li>

                                <img src="_content/NSH/elastic-image-3.jpg"  alt="02"/>

                               <p>
                                        "NSH teaches you the importance of taking initiative, and how to get people excited about the ideas that you have."           
                                </p>            
                            </li>

                            <li>

                                <img src="_content/NSH/elastic-image-2.jpg"  alt="03"/>

                               <p>
                                        "The nature of what we do attracts the best and the brightest from all corners of this campus."          
                                </p>     
                                
                            </li>

                            <li>

                                <img src="_content/NSH/elastic-image-4.jpg"  alt="04"/>

                               <p>
                                        "I truly believe NSH is more than just a student group. It’s a launch pad for opportunity, a training ground for ideas, and a chance to make your vision a reality."
                                                                     
                                </p>     
                                
                            </li>
                        </ul>
                        </div>
                        <div class="span1"></div>
                    </div>
                </div><!-- end .row -->

            </div>  <!-- end .row-content -->
        </div> <!-- end .section -->
        

         <!-- END OVERVIEW //////-->
 
        <div class='section'>
            <div class="row-container">
                <div class="row">
                    <div class="span12">
                        
                        <div class="headline-2" style="margin-bottom:0;">
                            
                            <h2>Our Impact</h2>
                            
                        </div><!-- end .headline -->
                        
                    </div><!-- end .span12 -->
                </div><!-- end .row -->
            </div><!-- end .row-container --> 
            
            <div class="row-container">
                <div class="row">
                    <div class="span2">
                        
                        <div class="milestone" style ="border-bottom: 1px solid #CE4115;border-top: 1px solid #CE4115;">
    
                            <div class="milestone-content" >
                                <span class="milestone-value" data-stop="12" data-speed="2000"></span>
                                <div class="milestone-description" style = "color: #393939;">Total partner philanthropies</div>
                            </div><!-- end .milestone-content -->
                           
                        </div><!-- end .milestone -->
                        
                    </div><!-- end .span2 -->
                    <div class="span2">
                        
                        <div class="milestone" style ="border-bottom: 1px solid #CE4115;border-top: 1px solid #CE4115;">
    
                            <div class="milestone-content">
                                <span>$</span>
                                <span class="milestone-value" data-stop="7500" data-speed="2000"></span>
                                <span>+</span>
                                <div class="milestone-description" style = "color: #393939;">Donated to philanthropies</div>
                            </div><!-- end .milestone-content -->
                           
                        </div><!-- end .milestone -->
                        
                    </div><!-- end .span2 -->
                    <div class="span2">
                        
                        <div class="milestone" style ="border-bottom: 1px solid #CE4115;border-top: 1px solid #CE4115;">
    
                            <div class="milestone-content">
                                <span class="milestone-value" data-stop="15000" data-speed="2000"></span>
                                <span>+</span>
                                <div class="milestone-description" style = "color: #393939;">Social media impressions</div>
                            </div><!-- end .milestone-content -->
                           
                        </div><!-- end .milestone -->
                        
                    </div><!-- end .span2 -->
                    <div class="span2">
                                    
                        <div class="milestone" style ="border-bottom: 1px solid #CE4115;border-top: 1px solid #CE4115;">

                            <div class="milestone-content">
                                <span class="milestone-value" data-stop="1000" data-speed="2000"></span>
                                <span>+</span>
                                <div class="milestone-description" style = "color: #393939;">Students engaged</div>
                            </div><!-- end .milestone-content -->
                           
                        </div><!-- end .milestone -->
                        
                    </div><!-- end .span2 -->
                    <div class="span2">
                        
                        <div class="milestone" style ="border-bottom: 1px solid #CE4115;border-top: 1px solid #CE4115;">

                            <div class="milestone-content">
                                <span class="milestone-value" data-stop="80" data-speed="2000"></span>
                                <span>+</span>
                                <div class="milestone-description" style = "color: #393939;">Projects</div>
                            </div><!-- end .milestone-content -->
                           
                        </div><!-- end .milestone -->
                        
                    </div><!-- end .span2 -->
                    <div class="span2">
                        
                        <div class="milestone" style ="border-bottom: 1px solid #CE4115;border-top: 1px solid #CE4115;">

                            <div class="milestone-content">
                                <span class="milestone-value" data-stop="24" data-speed="2000"></span>
                                <span>h</span>
                                <div class="milestone-description" style = "color: #393939;">Support</div>
                            </div><!-- end .milestone-content -->
                           
                        </div><!-- end .milestone -->
                        
                    </div><!-- end .span2 -->
                </div><!-- end .row -->                                                          
            </div><!-- end .row-container -->
        </div><!--end .section-->

        <div class="section">
        <!-- OUR HISTORY ///////////////////////////////////////////////////////////////-->
            <div class="row-container">
                <div class="row">
                    <div class="span12">
                        
                        <div class="headline-2">
                            
                            <h2>Our History</h2>
                            
                        </div><!-- end .headline -->
                        
                    </div><!-- end. span12 -->
                </div><!-- end .row -->
            </div><!-- end .row-container -->                                                
            
            <div class="row-container">
                <div id="timeline-embed"></div>
                <script type="text/javascript">
                    var timeline_config = {
                        width:              '100%',
                        height:             '500',
                        source:             'https://docs.google.com/spreadsheet/ccc?key=0Av01NMEpZZJkdFpPb2V6OEpJSi1yVjBiRzZhZWhpTmc',
                        embed_id:           'timeline-embed',               //OPTIONAL USE A DIFFERENT DIV ID FOR EMBED
                        start_at_end:       false,                          //OPTIONAL START AT LATEST DATE
                        start_at_slide:     '4',                            //OPTIONAL START AT SPECIFIC SLIDE
                        start_zoom_adjust:  '3',                            //OPTIONAL TWEAK THE DEFAULT ZOOM LEVEL
                        hash_bookmark:      true,                           //OPTIONAL LOCATION BAR HASHES
                        font:               'Open Sans',             //OPTIONAL FONT
                        debug:              true,                           //OPTIONAL DEBUG TO CONSOLE
                        lang:               'fr',                           //OPTIONAL LANGUAGE
                        maptype:            'watercolor',                   //OPTIONAL MAP STYLE
                    }
                </script>
                <script type="text/javascript" src="_layout/TimelineJS/js/storyjs-embed.js"></script>
            </div><!-- end .row-container -->
        </div> <!-- end .section -->

    <!--  END OF OUR HISTORY SECTION///////////////////////////////////////////////////////////////-->
        <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        </div><!-- end #content -->     
        <div id="footer">
        
        <!-- /// FOOTER     ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->

            <div class="row-container">
                <div class="row">
                    <div class="span6" id="footer-copyright">
                        <p class="last">&copy; 2015 <strong><span class="text-highlight">Northwestern Student Holdings. All rights reserved.</p>
                    </div><!-- end .span6 --> 
                    <div class="span6" id="footer-links">
                        <div>
                            <h4><a href="">Home</a></h4>
                            <h4><a href="">About</a></h4>
                            <h4><a href="">Portfolio</a></h4>
                            <h4><a href="">Apply</a></h4>
                            <h4><a href="">Contact</a></h4>
                        <div>
                        <div class="widget ewf_widget_social_media"> 
                        
                            <div class="fixed">                                                                
                                
                                <a href="#" class="facebook-icon social-icon">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                
                                <a href="#" class="twitter-icon social-icon">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                
                                <a href="#" class="googleplus-icon social-icon">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                
                                <a href="#" class="pinterest-icon social-icon">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                                
                                <a href="#" class="linkedin-icon social-icon">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                
                                <a href="#" class="youtube-icon social-icon">
                                    <i class="fa fa-youtube"></i>
                                </a>
                                
                            </div>
                        
                        </div><!-- end .ewf_widget_social_media -->

                    </div><!-- end .span6 -->       
                </div><!-- end .row -->
            </div><!-- end .container -->       
        
        <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        </div><!-- end #footer -->

        
    </div><!-- end #wrap -->
    
    <a id="back-to-top" href="#">
        <i class="ifc-up4"></i>
    </a>

    <!-- /// jQuery ////////  -->
    <script src="_layout/js/jquery-2.1.1.min.js"></script>

    <!-- /// ViewPort ////////  -->
    <script src="_layout/js/viewport/jquery.viewport.js"></script>
    
    <!-- /// Easing ////////  -->
    <script src="_layout/js/easing/jquery.easing.1.3.js"></script>

    <!-- /// SimplePlaceholder ////////  -->
    <script src="_layout/js/simpleplaceholder/jquery.simpleplaceholder.js"></script>

    <!-- /// Fitvids ////////  -->
    <script src="_layout/js/fitvids/jquery.fitvids.js"></script>
    
    <!-- /// Animations ////////  -->
    <script src="_layout/js/animations/animate.js"></script>
     
    <!-- /// Superfish Menu ////////  -->
    <script src="_layout/js/superfish/hoverIntent.js"></script>
    <script src="_layout/js/superfish/superfish.js"></script>
    
    <!-- /// Revolution Slider ////////  -->
    <script src="_layout/js/revolutionslider/js/jquery.themepunch.tools.min.js"></script>
    <script src="_layout/js/revolutionslider/js/jquery.themepunch.revolution.min.js"></script>
    
    <!-- /// bxSlider ////////  -->
    <script src="_layout/js/bxslider/jquery.bxslider.min.js"></script>
    
    <!-- /// Magnific Popup ////////  -->
    <script src="_layout/js/magnificpopup/jquery.magnific-popup.min.js"></script>
    
    <!-- /// Isotope ////////  -->
    <script src="_layout/js/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="_layout/js/isotope/isotope.pkgd.min.js"></script>
    
    <!-- /// Parallax ////////  -->
    <script src="_layout/js/parallax/jquery.parallax.min.js"></script>

    <!-- /// EasyPieChart ////////  -->
    <script src="_layout/js/easypiechart/jquery.easypiechart.min.js"></script>
    
    <!-- /// YTPlayer ////////  -->
    <script src="_layout/js/itplayer/jquery.mb.YTPlayer.js"></script>
    
    <!-- /// Easy Tabs ////////  -->
    <script src="_layout/js/easytabs/jquery.easytabs.min.js"></script>  
    
    <!-- /// Form validate ////////  -->
    <script src="_layout/js/jqueryvalidate/jquery.validate.min.js"></script>
    
    <!-- /// Form submit ////////  -->
    <script src="_layout/js/jqueryform/jquery.form.min.js"></script>
    
    <!-- /// gMap ////////  -->
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="_layout/js/gmap/jquery.gmap.min.js"></script>

    <!-- /// Twitter ////////  -->
    <script src="_layout/js/twitter/twitterfetcher.js"></script>
    
    <!-- /// Custom JS ////////  -->
    <script src="_layout/js/plugins.js"></script>   
    <script src="_layout/js/scripts.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.0.3/wow.min.js"></script>
    <!-- /// Chart JS //////// -->
    <script src="_layout/js/charts/Chart.min.js"></script>

    <script src="_layout/ElasticStack/js/modernizr.custom.js"></script>
    <script src="_layout/ElasticStack/js/draggabilly.pkgd.min.js"></script>
    <script src="_layout/ElasticStack/js/elastiStack.js"></script>

    <script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/timeline-min.js"></script>

    <script>
    new WOW().init();

    $('#logo a').append('<img src="_content/NSH/nsh_condensed_logo.png" id="gray-logo" alt="website logo gray" style="display:none;">');

    //Chart
    // var revenueData = {
    //     labels: ["January", "February", "March", "April", "May", "June", "July"],
    //     datasets: [
    //         {
    //             label: "My First dataset",
    //             fillColor: "rgba(220,220,220,0.2)",
    //             strokeColor: "rgba(220,220,220,1)",
    //             pointColor: "rgba(220,220,220,1)",
    //             pointStrokeColor: "#fff",
    //             pointHighlightFill: "#fff",
    //             pointHighlightStroke: "rgba(220,220,220,1)",
    //             data: [65, 59, 80, 81, 56, 55, 40]
    //         },
    //         {
    //             label: "My Second dataset",
    //             fillColor: "rgba(206,65,21,0.2)",
    //             strokeColor: "#CE4115",
    //             pointColor: "#CE4115",
    //             pointStrokeColor: "#fff",
    //             pointHighlightFill: "#fff",
    //             pointHighlightStroke: "rgba(151,187,205,1)",
    //             data: [28, 48, 40, 19, 86, 27, 90]
    //         }
    //     ]
    // };

    // var revenue = document.getElementById('revenueChart').getContext('2d');
    // new Chart(revenue).Line(revenueData);

    // elasticstack
    new ElastiStack( document.getElementById( 'elasticstack' ),{
                // distDragBack: if the user stops dragging the image in a area that does not exceed [distDragBack]px 
                // for either x or y then the image goes back to the stack 
                distDragBack : 200,
                // distDragMax: if the user drags the image in a area that exceeds [distDragMax]px 
                // for either x or y then the image moves away from the stack 
                distDragMax : 450,
                // callback
                onUpdateStack : function( current ) { return false; }
            }  );

    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      $('#logo a').append('<img src="_content/NSH/nsh_condensed_logo.png" id="gray-logo" alt="website logo gray">');
    } else {
      $('#logo a').append('<img src="_content/NSH/nsh_condensed_logo.png" id="gray-logo" alt="website logo gray" style="display:none;">');
    }
    </script>

</body>
</html>