<!DOCTYPE html>
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115026894-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-115026894-4');
    </script>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">


    <title> Apply :: SH </title>
    <meta name="description" content=" add description  ... ">

    <!-- /// Favicons ////////  -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- /// Google Fonts ////////  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,300,500,600">

    <!-- /// FontAwesome Icons 4.2.0 ////////  -->
    <link rel="stylesheet" href="_layout/css/fontawesome/font-awesome.min.css">

    <!-- /// Custom Icon Font ////////  -->
    <link rel="stylesheet" href="_layout/css/iconfontcustom/icon-font-custom.css">

    <!-- /// Template CSS ////////  -->
    <link rel="stylesheet" href="_layout/css/base.css">
    <link rel="stylesheet" href="_layout/css/grid.css">
    <link rel="stylesheet" href="_layout/css/layout.css">
    <link rel="stylesheet" href="_layout/css/elements.css">

    <!-- /// JS Plugins CSS ////////  -->
    <link rel="stylesheet" href="_layout/js/revolutionslider/css/settings.css">
    <link rel="stylesheet" href="_layout/js/revolutionslider/css/custom.css">
    <link rel="stylesheet" href="_layout/js/bxslider/jquery.bxslider.css">
    <link rel="stylesheet" href="_layout/js/magnificpopup/magnific-popup.css">
    <link rel="stylesheet" href="_layout/js/animations/animate.min.css">
    <link rel="stylesheet" href="_layout/js/itplayer/css/YTPlayer.css">

    <link rel="stylesheet" href="custom/navbar.css">
    <link rel="stylesheet" href="custom/splash.css">
    <style type="text/css">
        #mc_embed_signup {
            margin: 84px 0;
        }

        #apply .span8 > h1 {
            text-align: center;
        }

        #apply .span8 > h4 {
            text-align: center;
        }
    </style>

    <!-- /// jQuery ////////  -->
    <script src="_layout/js/jquery-2.1.1.min.js"></script>
    <!-- /// Custom JS ////////  -->
    <script src="_layout/js/plugins.js"></script>
    <script src="_layout/js/scripts.js"></script>

    <!-- /// Form validate ////////  -->
    <script src="_layout/js/jqueryvalidate/jquery.validate.min.js"></script>

    <!-- /// Form submit ////////  -->
    <script src="_layout/js/jqueryform/jquery.form.min.js"></script>

    <script type="text/javascript" src="_layout/js/splash.js"></script>

</head>

<body class="sticky-header page-header">



    <noscript>
        <div class="javascript-required">
            <i class="fa fa-times-circle"></i> You seem to have Javascript disabled. This website needs javascript in order to function properly!
        </div>
    </noscript>
    <div id="wrap">

        {{> header_homepage}}
        <div id="content">

            <div class="splash-container" style="background-image: url(_content/NSH/apply.jpg)">
                <div class="splash">
                    <h1><strong>Apply</strong></h1>
                    <h3 style="font-style: none; max-width:450px; margin: 0 auto;">"The nature of what we do attracts the best and the brightest from all corners of this campus."</h3>
                    <br>
                    <h3>-Danielle Lay, Portfolio Advisor</h3>

                </div>
                <!-- end .row -->
                <a href="#apply" class="smoothScroll">
                    <svg class="arrows">
                        <path class="a1" d="M0 0 L15 16 L30 0"></path>
                    </svg>
                </a>
            </div>
            <!-- end .row-container -->
            <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

            <div class="row-container" id="apply">
                <div class="row">
                    <div class="span2"></div>
                    <div class="span8">

                        <div class="headline">
                          <!--<h2 style="margin-top: 2em">We are not currently recruiting for Student Holdings. Follow our <a style="color:#CE4115" href="https://www.facebook.com/studentholdings/">Facebook page</a> to stay notified on when applications open!</h2>-->
                          <h2 style="margin-top: 2em; color:#CE4115">Thank You for Your Interest in Applying to Student Holdings.</h2>
                          <!--<h1 style="margin-top: 0;"><a style="color:#CE4115" href="https://goo.gl/forms/Z7CbBPJmAIGjOLpF2">Apply now!</a></h1>-->
                          <h3 style="margin-top:1em">Our application opens Monday, October 1 at 8:00 pm and will close on Sunday, October 7 at 11:59 pm.<h3>
                        	<h5>Reach out to <a style="font-weight: bold" href="mailto:recruitment@studentholdings.org">recruitment@studentholdings.org</a> with any questions.</h5>
                            <hr>
                            <h2 style="margin-top:1.5em; color:#CE4115">Come Meet the Team!</h2>
                            <h3>Tenting Event</h3>
                            <h4>Monday, October 1 | 1:00 - 4:00 pm</h4>
                            <h4>Ford Engineering and Design Building Entrance</h4>
                            <h3 style="margin-top:1em;">Barbeque Event</h3>
                            <h4>Thursday, October 4 | 1:00 - 4:00 pm</h4>
                            <h4>Garrett Lawn (next to Ford Building)</h4>
                            <h3 style="margin-top:1em;">Information Session</h3>
                            <h4>Thursday, October 4 | 8:15 - 9:15 pm</h4>
                            <h4>The Garage Workspace</h4>
                           
                            <h4 style="margin-top:1.5em;">Any business-oriented undergraduate student at NU is welcome to apply to Student Holdings. We pride ourselves on building diverse teams, and no previous experience is necessary.</h4>

                            <!-- I meant to type in h4 but hit hr and turns out that it makes that cool line... so yeah -->
                            <div style="text-align:left">
                                <hr>
                                <h2>Positions</h2>
                                <h3>We pride ourselves on building diverse teams, and no previous experience is necessary. In case you missed our info sessions, here are the positions we are recruiting for!</h3>

                                <hr>
                                <h3>Finance</h3>
                                <p>Finance Managers oversee and promote the financial health of their respective portfolio company. From thorough analysis of financial reports, including income statements, balance sheets, and individual product and service trackers, to projections and budgeting, Finance Managers drive analytical insights and decision making that ultimately shapes how and why our businesses operate the way they do.</p> 

                                <hr>
                                <h3>Marketing</h3>
                                <p>Marketing Managers are creative and insightful, driving our portfolio companies’ branding and outreach efforts. Marketing plays a critical role in growing our businesses, responsible for everything from social media campaigns to market research analyses.</p>

                                <hr>
                                <h3>Operations</h3>
                                <p>Operations Managers organize and oversee the day-to-day business activities, ensuring our companies run smoothly. From organizing employees to coordinating with suppliers, our ops teams are responsible for making our processes as efficient and effective as possible.</p>
                                <hr>

                                <h3>Sales</h3>
                                <p>Ambitious and resourceful, our sales managers are responsible for pursuing leads and closing deals. Sales Managers work directly with prospective and current clients to gain an in-depth understanding of their needs and behaviors, strengthening our businesses’ relationships with the communities we serve.</p>

                                <hr>
                                <h3>Tech</h3>
                                <p>As a Tech Manager, you’ll work at the intersection of business and technology, honing your development skills and working on projects that impact daily business operations. Our tech team is responsible for creating websites and developing software to optimize our business processes and performance.</p>

                                <!--<hr>
                                <h3>People Operations</h3>
                                <p>People Operations managers ensure that the organization runs as a fully functional, self-sustained non-for-profit and that our people are happy and fully reaching their potential within Student Holdings.</p>-->                                
                                </div>

                        </div>
                        <!-- end .headline -->
                     
                        <!--<h3 style="text-align:center">Interested in learning more about NSH and applying in the Fall? Add your email address below to receive updates or <a href="https://www.facebook.com/studentholdings/" style="color:#CE4115">like our Facebook page!</a></h3>-->

                    </div>
                    <!-- end .span8 -->
                    <div class="span2"></div>
                </div>
                <!-- end .row -->
            </div>
            <!-- end .row-content -->

            <div class="row-container">
                <div class="row">
                    <div class="span2"></div>
                    <div class="span8">

                        <!-- Begin MailChimp Signup Form -->

                        <div id="mc_embed_signup">
                            <!-- <h2>Stay in touch with Student Holdings!</h2>
                            <form action="//northwesternstudentholdings.us10.list-manage.com/subscribe/post?u=3d52de53d7dd7d2840df096b4&amp;id=e6c9a18e90" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate fixed" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <div class="mc-field-group">
                                        <input type="text" value="" name="NAME" class="required span12" id="mce-NAME" placeholder="Name">
                                    </div>
                                    <div class="mc-field-group">
                                        <input type="email" value="" name="EMAIL" class="required email span12" id="mce-EMAIL" placeholder="E-mail">
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>


                                    <div style="position: absolute; left: -5000px;">
                                        <input type="text" name="b_3d52de53d7dd7d2840df096b4_e6c9a18e90" tabindex="-1" value="">
                                    </div>
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn text-uppercase">
                                </div>
                            </form>-->
                        </div> 


                        <!-- End form -->
                        <div class="span2"></div>
                    </div>
                    <!-- end .row-content -->

                    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

                </div>
                </div>
                <!-- end #content -->
                {{> footer}}

            </div>
            <!-- end #wrap -->

            <a id="back-to-top" href="#">
                <i class="ifc-up4"></i>
            </a>

</body>

</html>
