<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">


    <title> Apply :: SH </title>
    <meta name="description" content=" add description  ... ">

    <!-- /// Favicons ////////  -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- /// Google Fonts ////////  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,300,500,600">

    <!-- /// FontAwesome Icons 4.2.0 ////////  -->
    <link rel="stylesheet" href="_layout/css/fontawesome/font-awesome.min.css">

    <!-- /// Custom Icon Font ////////  -->
    <link rel="stylesheet" href="_layout/css/iconfontcustom/icon-font-custom.css">

    <!-- /// Template CSS ////////  -->
    <link rel="stylesheet" href="_layout/css/base.css">
    <link rel="stylesheet" href="_layout/css/grid.css">
    <link rel="stylesheet" href="_layout/css/layout.css">
    <link rel="stylesheet" href="_layout/css/elements.css">

    <!-- /// JS Plugins CSS ////////  -->
    <link rel="stylesheet" href="_layout/js/revolutionslider/css/settings.css">
    <link rel="stylesheet" href="_layout/js/revolutionslider/css/custom.css">
    <link rel="stylesheet" href="_layout/js/bxslider/jquery.bxslider.css">
    <link rel="stylesheet" href="_layout/js/magnificpopup/magnific-popup.css">
    <link rel="stylesheet" href="_layout/js/animations/animate.min.css">
    <link rel="stylesheet" href="_layout/js/itplayer/css/YTPlayer.css">

    <link rel="stylesheet" href="custom/navbar.css">
    <link rel="stylesheet" href="custom/splash.css">
    <style type="text/css">
        #mc_embed_signup {
            margin: 84px 0;
        }
        
        #apply .span8 > h1 {
            text-align: center;
        }
        
        #apply .span8 > h4 {
            text-align: center;
        }
    </style>

    <!-- /// jQuery ////////  -->
    <script src="_layout/js/jquery-2.1.1.min.js"></script>
    <!-- /// Custom JS ////////  -->
    <script src="_layout/js/plugins.js"></script>
    <script src="_layout/js/scripts.js"></script>

    <!-- /// Form validate ////////  -->
    <script src="_layout/js/jqueryvalidate/jquery.validate.min.js"></script>

    <!-- /// Form submit ////////  -->
    <script src="_layout/js/jqueryform/jquery.form.min.js"></script>

    <script type="text/javascript" src="_layout/js/splash.js"></script>

</head>

<body class="sticky-header page-header">



    <noscript>
        <div class="javascript-required">
            <i class="fa fa-times-circle"></i> You seem to have Javascript disabled. This website needs javascript in order to function properly!
        </div>
    </noscript>
    <div id="wrap">

        {{> header_homepage}}
        <div id="content">

            <div class="splash-container" style="background-image: url(_content/NSH/apply.jpg)">
                <div class="splash">
                    <h1><strong>Apply</strong></h1>
                    <h3 style="font-style: none; max-width:450px; margin: 0 auto;">"The nature of what we do attracts the best and the brightest from all corners of this campus."</h3>
                    <br>
                    <h3>-Danielle Lay, Portfolio Advisor</h3>

                </div>
                <!-- end .row -->
                <a href="#apply" class="smoothScroll">
                    <svg class="arrows">
                        <path class="a1" d="M0 0 L15 16 L30 0"></path>
                    </svg>
                </a>
            </div>
            <!-- end .row-container -->
            <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

            <div class="row-container" id="apply">
                <div class="row">
                    <div class="span2"></div>
                    <div class="span8">

                        <div class="headline">

                            <h1>Join us!</h1>
                            <!-- <h1>Stay Informed</h1> -->
                            <h1 style="margin-top:.25em; font-size:32px">Welcome Class of 2021!</h1>

                            <a href="https://goo.gl/forms/ptmPEWeZSaYjI5G12"><h2>Apply Now!</h2></a>
                            <h3>Applications due Oct 12, 11:59pm</h3>
                            <h4>Contact <a href="mailto:recruitment@studentholdings.org">recruitment@studentholdings.org</a> with any questions.</h4>


                            <!-- <h2 style="margin-top:.5em;">Info Sessions</h2>
                            <h3>September 28th, 7-8pm in Univeristy 121</h3>
                            <h3>October 2nd, 7-8pm in Tech M128</h3>
                            <a href="https://www.facebook.com/events/1923232797941904/?acontext=%7B%22action_history%22%3A[%7B%22surface%22%3A%22dashboard%22%2C%22mechanism%22%3A%22calendar_tab_event%22%2C%22extra_data%22%3A%22[]%22%7D]%2C%22ref%22%3A1%2C%22source%22%3A2%7D"><h3>Join our Facebook event!</h3></a> -->

                            <h4 style="margin-top:1.5em;">Any business-oriented undergraduate student at NU is welcome to apply to Student Holdings. We pride ourselves on building diverse teams, and no previous experience is necessary.</h4>

                            <!-- I meant to type in h4 but hit hr and turns out that it makes that cool line... so yeah -->
                            <div style="text-align:left">
                                <hr>
                                <h2>Positions</h2>
                                <h3>In case you missed our Info Sessions, here are the positions we are recruiting for!</h3>

                                <hr>
                                <h3>Operations</h3>
                                <p>Operations managers work to improve the sustainability of companies, creating tools and processes to overcome points of problem. They serve as the building blocks for all company’s operations.</p>

                                <hr>
                                <h3>Sales</h3>
                                <p>Sales Managers are in charge of customer acquisition and relationship building, as well as moving a sale from an initial inquiry to final order. They play integral roles in securing revenues for companies.
                                </p>

                                <hr>
                                <h3>Tech</h3>
                                <p>Tech Managers work in the intersection of business and software development, developing critical software that advances sales and operational goals across SH's portfolio.</p>

                                <hr>
                                <h3>People Operations</h3>
                                <p>People Operations managers ensure that the organization runs as a fully functional, self-sustained non-for-profit and that our people are happy and fully reaching their potential within Student Holdings.</p>

                                <hr>
                                <h3>Finance</h3>
                                <p>Finance managers are responsible for keeping financial records, constructing financial projections, and providing analytical support to drive company’s decision-making processes.</p>

                                <hr>
                                <h3>Marketing</h3>
                                <p>Marketing managers take a multidisciplinary approach to brand management, lead generation and strategic partnerships to help grow our businesses and the organization as a whole.</p>
                                <hr>
                            </div>

                        </div>
                        <!-- end .headline -->
                        <!-- <h1><a href="https://goo.gl/forms/OYo6AT2n6gCxSYT12">Winter 2017 Application Link</a></h1> -->
                        <!-- <h4>Applications are due at 11:59 PM on February 22th!</h4> -->

                        <!-- <h3 style="text-align:center">Interested in learning more about NSH and applying in the Winter? Add your email address below to receive updates or <a href="https://www.facebook.com/northwesternstudentholdings/?fref=ts" style="color:#CE4115">like our Facebook page!</a></h3> -->

                        <!-- <h4>The Winter application period has closed. <a href="https://www.facebook.com/northwesternstudentholdings/?fref=ts">Like our Facebook page</a> to stay up to date on all things NSH, and sign up for our mailing list below to be notified when the next round of applications opens!</h4> -->




                    </div>
                    <!-- end .span8 -->
                    <div class="span2"></div>
                </div>
                <!-- end .row -->
            </div>
            <!-- end .row-content -->

            <div class="row-container">
                <div class="row">
                    <div class="span2"></div>
                    <div class="span8">

                        <!-- Begin MailChimp Signup Form -->

                        <div id="mc_embed_signup">
                            <h2>Stay in touch with Student Holdings!</h2>
                            <form action="//northwesternstudentholdings.us10.list-manage.com/subscribe/post?u=3d52de53d7dd7d2840df096b4&amp;id=e6c9a18e90" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate fixed" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <div class="mc-field-group">
                                        <input type="text" value="" name="NAME" class="required span12" id="mce-NAME" placeholder="Name">
                                    </div>
                                    <div class="mc-field-group">
                                        <input type="email" value="" name="EMAIL" class="required email span12" id="mce-EMAIL" placeholder="E-mail">
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>


                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

                                    <div style="position: absolute; left: -5000px;">
                                        <input type="text" name="b_3d52de53d7dd7d2840df096b4_e6c9a18e90" tabindex="-1" value="">
                                    </div>
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn text-uppercase">
                                </div>
                            </form>
                        </div>


                        <!-- End form -->
                        <div class="span2"></div>
                    </div>
                    <!-- end .row-content -->

                    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

                </div>
                <!-- end #content -->
                {{> footer}}

            </div>
            <!-- end #wrap -->

            <a id="back-to-top" href="#">
                <i class="ifc-up4"></i>
            </a>

</body>

</html>