<!DOCTYPE html>
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115026894-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-115026894-4');
    </script>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">


    <title> Donate :: SH </title>
    <meta name="description" content=" add description  ... ">

    <!-- /// Favicons ////////  -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- /// Google Fonts ////////  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,300,500,600">

    <!-- /// FontAwesome Icons 4.2.0 ////////  -->
    <link rel="stylesheet" href="_layout/css/fontawesome/font-awesome.min.css">

    <!-- /// Custom Icon Font ////////  -->
    <link rel="stylesheet" href="_layout/css/iconfontcustom/icon-font-custom.css">

    <!-- /// Template CSS ////////  -->
    <link rel="stylesheet" href="_layout/css/base.css">
    <link rel="stylesheet" href="_layout/css/grid.css">
    <link rel="stylesheet" href="_layout/css/layout.css">
    <link rel="stylesheet" href="_layout/css/elements.css">

    <!-- /// JS Plugins CSS ////////  -->
    <link rel="stylesheet" href="_layout/js/revolutionslider/css/settings.css">
    <link rel="stylesheet" href="_layout/js/revolutionslider/css/custom.css">
    <link rel="stylesheet" href="_layout/js/bxslider/jquery.bxslider.css">
    <link rel="stylesheet" href="_layout/js/magnificpopup/magnific-popup.css">
    <link rel="stylesheet" href="_layout/js/animations/animate.min.css">
    <link rel="stylesheet" href="_layout/js/itplayer/css/YTPlayer.css">

    <link rel="stylesheet" href="custom/navbar.css">
    <link rel="stylesheet" href="custom/splash.css">
    <style type="text/css">

        #donorbox_form {
            float:right; 
            margin-left: 2em; 
            margin-bottom: 0.25em;
        }

        @media (max-width: 1025px){
            #donorbox_form {
                float: none; 
                margin-left: 2em; 
                margin-bottom: 1em;
            }
        }

        @media (max-width: 510px){
            #donorbox_form {
                margin-left: 0; 
            }
        }

        @media (max-width: 420px) {
            iframe {
                width: 100%;
            }
        }


        #donate .span8 > h1 {
            text-align: center;
        }

        #donate .span8 > h4 {
            text-align: center;
        }
    </style>

    <!-- /// jQuery ////////  -->
    <script src="_layout/js/jquery-2.1.1.min.js"></script>
    <!-- /// Custom JS ////////  -->
    <script src="_layout/js/plugins.js"></script>
    <script src="_layout/js/scripts.js"></script>

    <!-- /// Form validate ////////  -->
    <script src="_layout/js/jqueryvalidate/jquery.validate.min.js"></script>

    <!-- /// Form submit ////////  -->
    <script src="_layout/js/jqueryform/jquery.form.min.js"></script>

    <script type="text/javascript" src="_layout/js/splash.js"></script>

</head>

<body class="sticky-header page-header">

    <noscript>
        <div class="javascript-required">
            <i class="fa fa-times-circle"></i> You seem to have Javascript disabled. This website needs javascript in order to function properly!
        </div>
    </noscript>
    <div id="wrap">

        {{> header_homepage}}
        <div id="content">

            <div class="splash-container" style="background-image: url(_content/NSH/about.jpg)">
                <div class="splash">
                    <h1><strong>Donate</strong></h1>
                        <h3 style="font-style: none; max-width:550px; margin: 0 auto;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id pulvinar mi."
                        </h3>
                    <br>
                    <h3>-Lorem Ipsum</h3>
                </div><!-- end .row -->
                <a href="#whatweare" class="smoothScroll">
                <svg class="arrows">
                    <path class="a1" d="M0 0 L15 16 L30 0"></path>
                </svg>
                </a>
            </div><!-- end .row-container -->

            <div class="row-container" id="donate">
                <div class="row">
                    <div class="span2"></div>
                    <div class="span8">

                        <div class="headline">
                          <h2 style="margin-top: 2em">Insert Catchy Title Phrase Here</h2>
                            
                            <div id="donorbox_form">
                            <script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
                            <iframe src="https://donorbox.org/embed/test-form-12" height="685px" width="120%" style="max-width:500px; min-width:150px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
                            </div>

                            <h4 style="text-align:left; margin-top: 2em">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id pulvinar mi. Praesent ut tristique urna, a mattis leo. Ut eget posuere erat. Duis gravida sapien auctor elementum finibus. Pellentesque sodales egestas ipsum a tempus. Duis pulvinar luctus lacinia. Aenean tempor et risus sed ultrices. Pellentesque tristique, dui sollicitudin euismod blandit, lorem diam malesuada risus, nec maximus risus leo et diam. Cras fringilla eleifend pretium.</h4>
                            <h4 style="text-align:left; margin-top: 1em">Morbi luctus tincidunt diam eu iaculis. Duis lorem quam, porttitor in dui in, auctor vulputate magna. Quisque sed congue nisi. Nam tempus dui ligula, vulputate lobortis quam aliquam ut. Morbi consequat lectus cursus, porttitor arcu nec, mollis enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</h4>
                            <h4 style="text-align:left; margin-top: 1em">Curabitur placerat maximus nibh ut commodo. Donec tristique velit ac lectus cursus, at cursus elit ornare. Pellentesque eu odio non urna maximus laoreet nec in tortor. Pellentesque vulputate quam nibh, vel malesuada ipsum posuere ut. Phasellus tempor placerat lorem, et molestie erat mattis eget. Vivamus tempor turpis id tellus lobortis, ac vulputate justo ornare. Maecenas suscipit, nisl eu elementum ultricies, tellus augue posuere massa, a pulvinar enim ipsum at nisl. Vivamus vel magna diam.</h4>
                            <h4 style="text-align:left; margin-top: 1em">Phasellus sagittis malesuada diam, in ullamcorper purus. Quisque porttitor, eros ac pellentesque malesuada, odio lorem dictum urna, a egestas felis nisi vehicula mi. Aliquam lobortis ante sapien, eget mollis orci tincidunt vitae. Integer purus quam, suscipit in tortor id, dapibus viverra massa. Duis finibus scelerisque fringilla. Pellentesque gravida sem eget tellus tempus, non euismod massa molestie. Cras eget convallis risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</h4>
                            
                            
                            <hr>
                            <h5 style="margin-top: 1em">To see the full fundraising pitch, <a style="font-weight: bold" href="">click here</a>.</h5>
                        </div>
                        <!-- end .headline -->
                    </div>
                    <!-- end .span8 -->
                    <div class="span2"></div>
                </div>
                <!-- end .row -->
            </div>
            <!-- end .row-content -->
        </div>
                <!-- end #content -->
        {{> footer}}

    </div>
            <!-- end #wrap -->

    <a id="back-to-top" href="#">
        <i class="ifc-up4"></i>
    </a>

</body>

</html>
