<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
    
    
    <title> Home :: NSH </title>
    <meta name="description" content=" add description  ... ">
    
    <!-- /// Favicons ////////  -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <!-- /// Google Fonts ////////  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,300,500,600">
    
    <!-- /// FontAwesome Icons 4.2.0 ////////  -->
    <link rel="stylesheet" href="_layout/css/fontawesome/font-awesome.min.css">
    
    <!-- /// Custom Icon Font ////////  -->
    <link rel="stylesheet" href="_layout/css/iconfontcustom/icon-font-custom.css">  
    
    <!-- /// Template CSS ////////  -->
    <link rel="stylesheet" href="_layout/css/base.css">
    <link rel="stylesheet" href="_layout/css/grid.css">
    <link rel="stylesheet" href="_layout/css/layout.css">
    <link rel="stylesheet" href="_layout/css/elements.css">
    
    <!-- /// JS Plugins CSS ////////  -->
    <link rel="stylesheet" href="_layout/js/animations/animate.min.css">
    
    <link rel="stylesheet" type="text/css" href="_layout/css/simpletextrotator.css">
    
    <link rel="stylesheet" href="custom/navbar.css">
    <link rel="stylesheet" href="custom/splash.css">
    <style type="text/css">
    .splash-container {
        background-position: bottom center;
    }
    .titles {
        margin-bottom: 60px;
    }
    #name {
        margin-top: 96px;
        margin-bottom: 14px;
        /*font-size: 65px;*/
        line-height: 68px; 
    }
    #slogan {
        display:none;
        margin-bottom: 10px;    
        font-size: 36px; 
        line-height: 45px;
    }
    #content{
        padding-top: 0!important;
    }
    .milestone-container {
        height: 100px;
        width:100%;
        background-color: rgba(255,255,255,0.2);
    }
    .milestone-container .span4{
        margin-bottom:40px;
    }
    .icon-box-1 i{
        color: #CE4115;
        border-bottom: 2px solid #CE4115;
    }
    .portfolio-item-overlay{
        background-color: #393939!important;
    }
    .headline h1{
        margin-top: 2.5em;
    }
    .hp-grey h1{
        margin-top: 70px;
    }
    #rotator-wrapper {
        display: inline-block;
        background-color: #3a3a3c;
        padding: 2px 9px;
        width:235px;
        text-align: left;
    }
    #rotator {
        display: inline-block;
        width:100%;
        white-space: pre;
        /*color: #CE4115;*/
    }
    #learnmore {
        color: #fff;
        border-color: #fff;
        -webkit-animation-delay: 1.5s;
        -o-animation-delay: 1.5s;
        animation-delay: 1.5s;
    }
    #learnmore:hover {
        color: #CE4115;
        border-color: #CE4115;
    }
    </style>
    
        <!-- /// jQuery ////////  -->
    <script src="_layout/js/jquery-2.1.1.min.js"></script>

        <!-- /// Custom JS ////////  -->
    <script src="_layout/js/plugins.js"></script>   
    <script src="_layout/js/scripts.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.0.3/wow.min.js"></script>
    <script>
     new WOW().init();
    </script>
       <!-- /// Chart JS //////// -->
    <script src="_layout/js/charts/Chart.min.js"></script>
    <script type="text/javascript" src="_layout/js/jquery.simple-text-rotator.js"></script>

    <script>
    $(function(){
        $("#slogan").show();
        $("#rotator").textrotator({
              animation: "flipCubeUp", // You can pick the way it animates when rotating through words. Options are dissolve (default), fade, flip, flipUp, flipCube, flipCubeUp and spin.
              separator: ",", // If you don't want commas to be the separator, you can define a new separator (|, &, * etc.) by yourself using this field.
              speed: 3000 // How many milliseconds until the next word show.
        });
    });
    </script>
    <script type="text/javascript" src="_layout/js/jquery.color-2.1.2.min.js"></script>

</head>
<body class="sticky-header page-header">
    
    
    
    <noscript>
        <div class="javascript-required">
            <i class="fa fa-times-circle"></i> You seem to have Javascript disabled. This website needs javascript in order to function properly!
        </div>
    </noscript>
        
    <!--[if lte IE 8]>
         <div class="modern-browser-required">
            You are using an <strong>outdated</strong> browser. Please 
            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">upgrade your browser</a> 
            to improve your experience.
        </div>
    <![endif]-->

    <div id="wrap">
        
        {{> header_homepage}}

        <div id="content">
        
        <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            <!--div class="splash-container" style="background-image: url(_content/NSH/nsh-home-vid.gif)"-->
            <div class="splash-container" style="background-image: url(_content/NSH/home-splash.jpg)">
                <div class="splash">
                    <div class="titles wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                    
                    <h1 id="name"><strong>Northwestern Student Holdings</strong></h1>
                    <div id="slogan">Defy expectations <div id='rotator-wrapper'><span id='rotator'>by taking risks.,through action. ,with passion.   ,every day.      ,on campus.      </span></div></div>
                    </div> <!-- end fade in for title-->
                    
                  <a class="btn animated fadeIn" id="learnmore" href="about">Learn more</a>
                  <!-- <a class="btn animated fadeIn" id="learnmore" href="apply">Apply now</a>
 -->                </div><!-- end .splash -->
            </div><!-- end .splash-container --> 


        </div><!-- end #content -->     
    {{> footer}}
        
    </div><!-- end #wrap -->
    
    <a id="back-to-top" href="#">
        <i class="ifc-up4"></i>
    </a>

</body>
</html>