<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115026894-4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-115026894-4');
        </script>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">

        <title> Portfolio :: SH </title>
        <meta name="description" content=" add description  ... ">

        <!-- /// Favicons ////////  -->
        <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
        <link rel="manifest" href="favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- /// Google Fonts ////////  -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,300,500,600">

        <!-- /// FontAwesome Icons 4.2.0 ////////  -->
        <link rel="stylesheet" href="_layout/css/fontawesome/font-awesome.min.css">

        <!-- /// Custom Icon Font ////////  -->
        <link rel="stylesheet" href="_layout/css/iconfontcustom/icon-font-custom.css">

        <!-- /// Template CSS ////////  -->
        <link rel="stylesheet" href="_layout/css/base.css">
        <link rel="stylesheet" href="_layout/css/grid.css">
        <link rel="stylesheet" href="_layout/css/layout.css">
        <link rel="stylesheet" href="_layout/css/elements.css">

        <!-- /// JS Plugins CSS ////////  -->
        <link rel="stylesheet" href="_layout/js/bxslider/jquery.bxslider.css">

        <!-- /// Template Skin CSS ////////  -->
        <!-- <link rel="stylesheet" href="_layout/css/skins/default.css"> -->
        <!-- <link rel="stylesheet" href="_layout/css/skins/blue.css"> -->
        <!-- <link rel="stylesheet" href="_layout/css/skins/orange.css"> -->
        <link rel="stylesheet" href="custom/navbar.css">
        <link rel="stylesheet" href="custom/splash.css">
        <style type="text/css">
        .splash-container {
        background-position: top center;
        }
        .portfolio-item-2 .portfolio-item-description h2 span{
        border-left: 2px solid #CE4115;
        }
        .btn:hover {
        border-color: #CE4115!important;
        color: #CE4115!important;
        }
        .portfolio-item-overlay{
        background-color: #3A3A3C;
        }
        .portfolio-item-2{
        border: 0px!important;
        }
        .portfolio-item-2:hover{
        opacity: 1;
        }
        .portfolio-item-overlay:hover { opacity: 0.9!important; }
        .portfolio-item-preview{
        height: 100%;
        overflow: hidden;
        }
        .portfolio-item-preview > img{
        max-height: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: 0px;
        vertical-align: middle;
        }
        @media (max-width: 767px) {
        .portfolio-item-2 .portfolio-item-description h2 span{
        border-left: 0;
        }
        .portfolio-item-2 .portfolio-item-description h2 span:before{
        border-top: 0;
        }
        .portfolio-item-2 .portfolio-item-description h2 span{
        border-bottom: 2px solid #CE4115;
        }
        .portfolio-item-preview > img{
        position: relative;
        top: 0;
        padding: 0;
        transform: translateY(0);
        }
        .info-box{
        margin: 20px 0;
        }
        .info-box .sub-headline a{
        margin-top: 5px;
        }
        .client-logos li{
          width: 100%!important;
        }
        }
        .client-logos li{
          width: 33.3%;
        }
        .info-box .span6 {
        background-repeat: no-repeat;
        background-position: center center;
        }
        #bg-1 {
        margin: 0 0;
        }
        .info-slider {
        margin-top: 0px;
        }
        .sub-headline a {
        margin-top: 30px;
        }
        .btn {
        padding: 15px 25px;
        }
        </style>
        <!-- /// jQuery ////////  -->
        <script src="_layout/js/jquery-2.1.1.min.js"></script>

        <!-- /// Custom JS ////////  -->
        <script src="_layout/js/plugins.js"></script>
        <script src="_layout/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.0.3/wow.min.js"></script>
        <script type="text/javascript" src="_layout/js/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="_layout/js/jquery.localScroll.min.js"></script>
        <script type="text/javascript" src="_layout/js/splash.js"></script>
        <script type="text/javascript">
        $(function(){
        new WOW().init();
        $('#local-scroll').localScroll({duration:800, offset: -100});
        });
        </script>

    </head>
    <body class="sticky-header page-header">



        <noscript>
        <div class="javascript-required">
            <i class="fa fa-times-circle"></i> You seem to have Javascript disabled. This website needs javascript in order to function properly!
        </div>
        </noscript>

        <!--[if lte IE 8]>
        <div class="modern-browser-required">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">upgrade your browser</a>
            to improve your experience.
        </div>
        <![endif]-->
        <div id="wrap">

            {{> header_homepage}}
            <div id="content">
                <div class="splash-container" style="background-image: url(_content/NSH/whiteboard.jpg)">
                    <div class="splash">
                        <h1><strong>Our Portfolio</strong></h1>
                        <h3 style="font-style: none; max-width:480px; margin: 0 auto;">"SH allows us to take our ideas off the white boards and out of the meeting rooms, and put them out in the real world.”
                        </h3>
                        <br>
                        <h3>-Priya Kumar, Former Chief Executive Officer</h3>
                        </div><!-- end .row -->
                        <a href="#bg-1" class="smoothScroll">
                            <svg class="arrows">
                            <path class="a1" d="M0 0 L15 16 L30 0"></path>
                        </svg>
                    </a>
                    </div><!-- end .row-container -->

                    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                    <div class="fullwidth-section" id='bg-1' style="background-image: url(_content/NSH/portfolio-buttons.jpg);">
                        <div class="fullwidth-section-content" id="local-scroll">
                            <ul class="client-logos fixed">
                                <!-- <li><a href="#boxco"><img src="_content/NSH/boxco-logo.png"></a></li> -->
                                <!--<li><a href="#designworks"><img src="_content/NSH/designworks-logo.png"></a></li>-->
			                          <li><a  href="#inktank"><img src="_content/NSH/inktank-logo.png"></a></li>
                                <li><a href="#nututors"><img src="_content/NSH/nututors-logo.png"></a></li>
                                <li><a href="#rezessentials"><img src="_content/NSH/RezEssentials-logo.png"></a></li>
			    </ul>
                        </div>
                    </div>

                    <!--  <div class="row-container" id="boxco">
                        <div class="info-box info-box-bg-left">
                            <div class="info-box-img" style="background-image:url(_content/NSH/boxco.jpg);"></div>
                            <div class="row">
                                <div class="offset-6 span6" style="background-image: url(_content/NSH/boxco-transparent-logo.png);">
                                    <div class="info-slider">
                                        <div class="sub-headline wow fadeIn" data-wow-delay="0.25s">
                                            <h1>BoxCo.</h1>

                                            <p>BoxCo. aims to make students’ lives easier. Founded in 2012, BoxCo. is the only student-run, Northwestern-owned company that supplies students with simple and transparent storage and shipping options.</p>

                                            <a class="btn" href="http://www.nuboxco.com/">Visit BoxCo.</a>
                                            <a class="btn" href="team#boxco">Meet the team</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    <!--<div class="row-container" id="designworks">
                        <div class="info-box info-box-bg-right">
                            <div class="info-box-img" style="background-image:url(_content/NSH/designworks.jpg);"></div>
                            <div class="row">
                                <div class="span6" style="background-image:url(_content/NSH/designworks-transparent-logo.png);">
                                    <div class="sub-headline wow fadeIn" data-wow-delay="0.25s">
                                        <h1>DesignWorks</h1>
                                        <p>DesignWorks is a company devoted to offering high-quality design services to members and groups of the Northwestern community. The mission of DesignWorks is to address the design needs of Northwestern and to generate opportunities for talented students.</p>
                                        <a class="btn" href="http://www.designworks.nu/">Visit DesignWorks</a>
                                        <a class="btn" href="team#designworks">Meet the team</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="row-container" id="inktank">
                        <div class="info-box info-box-bg-left">
                            <div class="row">
                                <div class="offset-6 span6" style="background-image:url(_content/NSH/inktank-transparent-logo.png);">
                                    <div class="info-slider">
                                        <div class="sub-headline wow fadeIn" data-wow-delay="0.25s">
                                            <h1>InkTank</h1>

                                            <p>InkTank is a custom apparel company that exists right on campus for all of your quick apparel-printing needs. We cater to the preferences and needs of students with the promise of high quality custom-printed apparel through an simple, easy process at an affordable cost.</p>

                                            <a class="btn" href="https://inktankapparel.com/">Visit InkTank</a>
                                            <a class="btn" href="team#ink">Meet the team</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-box-img" style="background-image:url(_content/NSH/sweatshirt.jpg);"></div>
                        </div>
                    </div>
                    <div class="row-container" id="nututors">
                        <div class="info-box info-box-bg-right">
                            <div class="row">
                                <div class="span6" style="background-image:url(_content/NSH/nututors-transparent-logo.png);">
                                    <div class="sub-headline wow fadeIn" data-wow-delay="0.25s">
                                        <h1>NU|Tutors</h1>

                                        <p>NU|Tutors provides tutoring services and mentorships to high school and middle school students in the North Shore by utilizing its most valuable academic resource – NU's accomplished and driven students. Since its inception, NU|Tutors has helped over 300 students excel academically.</p>


                                        <a class="btn" href="http://www.nututors.com/">Visit NU|Tutors</a>
                                        <a class="btn" href="team#nututors">Meet the team</a>
                                    </div>
                                </div>
                            </div>
                            <div class="info-box-img" style="background-image:url(_content/NSH/tutor.jpg);"></div>
                        </div>
                    </div>
                    <div class="row-container" id="rezessentials">
                        <div class="info-box info-box-bg-left">
                            <div class="row">
                                <div class="offset-6 span6" style="background-image:url(_content/NSH/rezessentials-transparent-logo.png);">
                                    <div class="info-slider">
                                        <div class="sub-headline wow fadeIn" data-wow-delay="0.25s">
                                            <h1>RezEssentials</h1>

                                            <p>RezEssentials simplifies the move-in process for incoming Northwestern students and their parents by providing a convenient solution for the sale, delivery, and move-in of essential residential elements. These include futons, compact fridges, desk lamps, fans, and safes.</p>
                                            <a class="btn" href="http://rezessentials.com/">Visit RezEssentials</a>
                                            <a class="btn" href="team#rezessentials">Meet the team</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-box-img" style="background-image:url(_content/NSH/rezessentials.jpg);"></div>
                        </div>
                    </div>



                    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                    </div><!-- end #content -->
                    {{> footer}}

                    </div><!-- end #wrap -->

                    <a id="back-to-top" href="#">
                        <i class="ifc-up4"></i>
                    </a>
                </body>
            </html>
