<!DOCTYPE html>
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115026894-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-115026894-4');
    </script>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">


    <title> Support :: SH </title>
    <meta name="description" content=" add description  ... ">

    <!-- /// Favicons ////////  -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- /// Google Fonts ////////  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,300,500,600">

    <!-- /// FontAwesome Icons 4.2.0 ////////  -->
    <link rel="stylesheet" href="_layout/css/fontawesome/font-awesome.min.css">

    <!-- /// Custom Icon Font ////////  -->
    <link rel="stylesheet" href="_layout/css/iconfontcustom/icon-font-custom.css">

    <!-- /// Template CSS ////////  -->
    <link rel="stylesheet" href="_layout/css/base.css">
    <link rel="stylesheet" href="_layout/css/grid.css">
    <link rel="stylesheet" href="_layout/css/layout.css">
    <link rel="stylesheet" href="_layout/css/elements.css">

    <!-- /// JS Plugins CSS ////////  -->
    <link rel="stylesheet" href="_layout/js/revolutionslider/css/settings.css">
    <link rel="stylesheet" href="_layout/js/revolutionslider/css/custom.css">
    <link rel="stylesheet" href="_layout/js/bxslider/jquery.bxslider.css">
    <link rel="stylesheet" href="_layout/js/magnificpopup/magnific-popup.css">
    <link rel="stylesheet" href="_layout/js/animations/animate.min.css">
    <link rel="stylesheet" href="_layout/js/itplayer/css/YTPlayer.css">

    <link rel="stylesheet" href="custom/navbar.css">
    <link rel="stylesheet" href="custom/splash.css">
    <style type="text/css">

        #donorbox_form {
            float:right; 
            margin-left: 2em; 
            margin-bottom: 0.25em;
        }

        @media (max-width: 1025px){
            #donorbox_form {
                float: none; 
                margin-left: 2em; 
                margin-bottom: 1em;
            }
        }

        @media (max-width: 670px){
            .splash-container {
                max-height: 250px;
            }
        }

        @media (max-width: 510px){
            #donorbox_form {
                margin-left: 0; 
            }
        }

        @media (max-width: 420px) {
            iframe {
                width: 100%;
            }
        }


        #donate .span8 > h1 {
            text-align: center;
        }

        #donate .span8 > h4 {
            text-align: center;
        }
    </style>

    <!-- /// jQuery ////////  -->
    <script src="_layout/js/jquery-2.1.1.min.js"></script>
    <!-- /// Custom JS ////////  -->
    <script src="_layout/js/plugins.js"></script>
    <script src="_layout/js/scripts.js"></script>

    <!-- /// Form validate ////////  -->
    <script src="_layout/js/jqueryvalidate/jquery.validate.min.js"></script>

    <!-- /// Form submit ////////  -->
    <script src="_layout/js/jqueryform/jquery.form.min.js"></script>

    <script type="text/javascript" src="_layout/js/splash.js"></script>

</head>

<body class="sticky-header page-header">

    <noscript>
        <div class="javascript-required">
            <i class="fa fa-times-circle"></i> You seem to have Javascript disabled. This website needs javascript in order to function properly!
        </div>
    </noscript>
    <div id="wrap">

        {{> header_homepage}}
        <div id="content">

            <div class="splash-container" style="background-image: url(_content/NSH/donate-splash.png)">
                <div class="splash">
                    <h1><strong>Support Us</strong></h1>
                        <!--<h3 style="font-style: none; max-width:550px; margin: 0 auto;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id pulvinar mi."</h3>-->
                    <br>
                </div><!-- end .row -->
                <a href="#whatweare" class="smoothScroll">
                <svg class="arrows">
                    <path class="a1" d="M0 0 L15 16 L30 0"></path>
                </svg>
                </a>
            </div><!-- end .row-container -->

            <div class="row-container" id="donate">
                <div class="row">
                    <div class="span2"></div>
                    <div class="span8">

                        <div class="headline">
                          <h2 style="margin-top: 2em">Creating a Bigger, Better Student Holdings</h2>
                            
                            <div id="donorbox_form">
                            <script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
                            <iframe src="https://donorbox.org/embed/creating-a-bigger-better-student-holdings" height="685px" width="120%" style="max-width:500px; min-width:150px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
                            </div>

                            <h4 style="text-align:left; margin-top: 2em">In 2017 & 2018, we established Student Holdings NFP and laid the foundation for our future serving the Northwestern, Evanston and Chicago communities. Now we invite you to join us for the next chapter of hands-on business learning at Student Holdings.</h4>
                            <h4 style="text-align:left; margin-top: 1em">We are raising $50,000 to help us transform Student Holdings from a student organization to an independent, student-run non-profit corporation.</h4>
                            <h4 style="text-align:left; margin-top: 1em">Your contribution to this campaign is an investment in Student Holdings and will allow us to expand our educational program to include more students as well as expand the services we provide to our community.</h4>
                            <h4 style="text-align:left; margin-top: 1em">Thank you for your support of Student Holdings. You can learn more about the campaign by reading the presentation <a style="font-weight: bold; color: #CE4115" href="_content/reports/BiggerBetterStudentHoldingsFundraisingPitchApril2019.pdf">here</a>.</h4>
                            <h4 style="text-align:left; margin-top: 1em; font-style:italic; color: #CE4115">If you wish to donate by sending a check, please email <a style="font-weight: bold; color: #CE4115" href="mailto:donate@studentholdings.org">donate@studentholdings.org</a> for instructions.</h4> 
                            <h4 style="text-align:left; margin-top: 1em">Thank you,</h4>
                            <h4 style="text-align:left; margin-top: 1em">Student Holdings CEO</h4>
                            <h4 style="text-align:left">Bharat Rao</h4>
                            <h4 style="text-align:left; margin-top: 1em">Student Holdings Board of Directors</h4>
                            <h4 style="text-align:left">Alex Onsager (Chairman)</h4>
                            <h4 style="text-align:left">Luke Figora</h4>
                            <h4 style="text-align:left">Nihar Shah</h4>
                            <h4 style="text-align:left">Arantxa Valverde</h4>
                            <h4 style="text-align:left">Priya Kumar</h4>
                            <h4 style="text-align:left">David Olodort</h4>
                            <hr>
                            <h5 style="text-align:left;margin-top: 1em">Student Holdings NFP is a non-profit charity (tax ID number 82-1654120) established in the United States under the US IRS Code Section 501(c)(3), and, for that reason, donations from persons or entities located in the United States may benefit from tax deductible status.</h5>
                            <h5 style="text-align:left;margin-top: 1em">Read our most recent annual report <a style="font-weight: bold; color: #CE4115" target = "_blank" href="_content/reports/StudentHoldingsAnnualReportFinal2018-2019.pdf">here</a>.</h5>
                            <!--<h5 style="text-align:left">Read the full fundraising pitch <a style="font-weight: bold" href="_content/reports/Student Holdings2018FundraisingCampaign.pdf">here</a>.</h5>-->
                        </div>
                        <!-- end .headline -->
                    </div>
                    <!-- end .span8 -->
                    <div class="span2"></div>
                </div>
                <!-- end .row -->
            </div>
            <!-- end .row-content -->
        </div>
                <!-- end #content -->
        {{> footer}}

    </div>
            <!-- end #wrap -->

    <a id="back-to-top" href="#">
        <i class="ifc-up4"></i>
    </a>

</body>

</html>
