<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
    
    
    <title> Team :: NSH</title>
    <meta name="description" content=" add description  ... ">
    
    <!-- /// Favicons ////////  -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <!-- /// Google Fonts ////////  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,300,500,600">
    
    <!-- /// FontAwesome Icons 4.2.0 ////////  -->
    <link rel="stylesheet" href="_layout/css/fontawesome/font-awesome.min.css">
    
    <!-- /// Custom Icon Font ////////  -->
    <link rel="stylesheet" href="_layout/css/iconfontcustom/icon-font-custom.css">  
    
    <!-- /// Template CSS ////////  -->
    <link rel="stylesheet" href="_layout/css/base.css">
    <link rel="stylesheet" href="_layout/css/grid.css">
    <link rel="stylesheet" href="_layout/css/layout.css">
    <link rel="stylesheet" href="_layout/css/elements.css">
    
    <!-- /// Template Skin CSS ////////  -->
    <!-- <link rel="stylesheet" href="_layout/css/skins/default.css"> -->
    <!-- <link rel="stylesheet" href="_layout/css/skins/blue.css"> -->
    <!-- <link rel="stylesheet" href="_layout/css/skins/orange.css"> -->

    <link rel="stylesheet" href="custom/navbar.css">
    <link rel="stylesheet" href="custom/splash.css">
    <style>
    </style>
 
        <!-- /// jQuery ////////  -->
    <script src="_layout/js/jquery-2.1.1.min.js"></script>

        <!-- /// Custom JS ////////  -->
    <script src="_layout/js/plugins.js"></script>   
    <script src="_layout/js/scripts.js"></script>

    <!-- /// ViewPort ////////  -->
    <script src="_layout/js/viewport/jquery.viewport.js"></script>
    
    <!-- /// Easing ////////  -->
    <script src="_layout/js/easing/jquery.easing.1.3.js"></script>

    <!-- /// SimplePlaceholder ////////  -->
    <script src="_layout/js/simpleplaceholder/jquery.simpleplaceholder.js"></script>

    <script type="text/javascript" src="_layout/js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="_layout/js/jquery.localScroll.min.js"></script>
    <script type="text/javascript" src="_layout/js/jquery.color-2.1.2.min.js"></script>
    <script type="text/javascript" src="_layout/js/team.js"></script>

    <script type="text/javascript" src="_layout/js/splash.js"></script>
    
</head>
<body class="sticky-header page-header">
    
    
    
    <noscript>
        <div class="javascript-required">
            <i class="fa fa-times-circle"></i> You seem to have Javascript disabled. This website needs javascript in order to function properly!
        </div>
    </noscript>
        
    <!--[if lte IE 8]>
         <div class="modern-browser-required">
            You are using an <strong>outdated</strong> browser. Please 
            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">upgrade your browser</a> 
            to improve your experience.
        </div>
    <![endif]-->

    <div id="wrap">
        
        {{> header_homepage}}
        <div id="content">

            <div class="splash-container" style="background-image: url(_content/NSH/Optimized-team-splash-smaller.png)">
                <div class="splash">
                    <h1><strong>Our Team</strong></h1>
                    <h3 style="font-style: none; max-width:500px; margin: 0 auto;">"The immense privilege of NSH is the opportunity to be 
surrounded by so many driven, talented, and intelligent
people."
</h3>
<br>
<h3>-Bomani McClendon, VP of Technology</h3>
                </div><!-- end .row -->
                <a href="#groups-btn-group" class="smoothScroll">
                <svg class="arrows">
                    <path class="a1" d="M0 0 L15 16 L30 0"></path>
                </svg>
                </a>
            </div><!-- end .row-container --> 

        <div class="row-container groups-btn-group-row-container">
                <div id="groups-btn-group">
                    <a href="#executive" class="btn alt">Executive Team</a>  
                    <a href="#ink" class="btn alt">Ink Tank</a>
                    <a href="#designworks" class="btn alt">DesignWorks</a>
                    <a href="#nututors" class="btn alt">NU|Tutors</a>
                    <a href="#rezessentials" class="btn alt">RezEssentials</a>
                    <a href="#finance" class="btn alt">Finance & Analytics</a>
                    <a href="#marketing" class="btn alt">Marketing & Outreach</a>
                    <a href="#people" class="btn alt">People Operations</a>
                    <a href="#technology" class="btn alt">Technology</a>
                    <!-- <a href="#strategy" class="btn alt">Strategy</a> -->
                    <a href="#advisory" class="btn alt">Advisory</a>
                    
                </div>
        </div>

        </div><!-- end #content -->     
        {{> footer}}
        
    </div><!-- end #wrap -->
    
    <a id="back-to-top" href="#">
        <i class="ifc-up4"></i>
    </a>

</body>
</html>