#logo{
    padding-top: 2em;
    padding-bottom: 0;
}
#logo a img{
    max-height: 50px;
}
#gray-logo{
    display: none;
}
.stuck{
    background-color: #fff!important;
    border-bottom: 0px solid #ddd;
}
.sf-menu{
    margin-top: 2em;
}
.stuck .sf-menu a{
    color: #393939!important;
    padding-bottom: 2em;
    padding-top: 22px!important;
}
#header .sf-menu > li > a, .sf-menu > li.dropdown > a{
    padding-bottom: 2em;
    font-weight: 500;
}
#mobile-menu-trigger{
    margin-bottom: 2em;
}
@media (min-width: 1400px){
    #header.stuck .sf-menu > li > a, #header.stuck .sf-menu > li.dropdown > a{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    #white-logo{
        display: none;
    }
}

.page-header #content{
    padding-top: 120px;
}

#footer{
    padding: 30px 0 0px 0;
}
#footer-links h4{
    display: inline-block;
    margin-right: 5px;
}
#footer-links div{
    display: inline-block;
}
#footer-links > *{
    float: right;
}