#logo{
    padding-top: 2em;
    padding-bottom: 0;
}
#logo a img{
    max-height: 50px;
}
#gray-logo{
    display: none;
}
.stuck{
    background-color: #fff!important;
    border-bottom: 0px solid #ddd;
}
.sf-menu{
    margin-top: 2em;
}
.stuck .sf-menu a{
    color: #393939!important;
    padding-bottom: 2em;
    padding-top: 22px!important;
}
.sf-menu a:hover{
    color: #CE4115!important;
}
#header .sf-menu > li > a, .sf-menu > li.dropdown > a{
    padding-bottom: 2em;
    font-weight: 500;
}
#mobile-menu-trigger{
    top: 28px;
}
@media (min-width: 1024px){
    #header.stuck .sf-menu > li > a, #header.stuck .sf-menu > li.dropdown > a{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    #logo{
        padding-top: 2em;
        padding-bottom: 0;
    }
    .splash h1 strong{
        margin-top: 3em;
        font-size: 1.7em!important;
    }

}

@media (max-width: 979px) and (min-width: 768px){
    #white-logo{
        display: none!important;
    }
    #logo{
        padding-top: 2em;
        padding-bottom: 0;
    }
    #mobile-menu-trigger{
        margin-top: 28px;
        margin-bottom: 28px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    #white-logo{
        display: none!important;
    }
    #logo{
        padding-top: 2em;
        padding-bottom: 0;
    }
    .splash h1{
        margin-top: 3em;
        font-size: 1.7em!important;
    }
}

@media (max-width: 767px) {
    #white-logo{
        display: none!important;
    }
    #logo{
        padding-top: 3em;
        padding-bottom: 0;
    }
    .splash h1{
        margin-top: 250px!important;
        font-size: 1.7em!important;
    }
    #mobile-menu-trigger{
        padding-top: 0px;
    }
}

.page-header #content{
    padding-top: 120px;
}

#footer{
    padding: 30px 0 0px 0;
}
#footer-links h4{
    display: inline-block;
    margin-right: 5px;
}
#footer-links div{
    display: inline-block;
}
#footer-copyright{
    text-align: right;
}
#footer-copyright p{
    padding-right: 55px;
}